.footer {
  background-color: #12283c;
  color: #fff;
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  flex: 1 0 200px;
  margin: 10px;
}

.footer h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin-bottom: 5px;
}
.footer li:hover{
  cursor: pointer;
  transform: scale(1.12);
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer .image {
  width: 100px;
  height: auto;
}

.footer .social-icons {
  display: flex;
  margin-top: 20px;
}

.footer .social-icons svg {
  margin-right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.footer .copyright {
  text-align: center;
  padding: 10px 0;
  background-color: #12283c;
}